/* vim:fdm=syntax:sw=2
 */
:root {
  --no: #ff0000;
  --meh: #fff200;
  --okay: #00adef;
  --yes: #00ff00;
  --slang: #a458ac;
  --background: #fffdcc;
}

.container {
  display: flex;
  flex-direction: column;
  width: min-content;
  min-width: 600pt;
  max-width: 100%;
  height: min-content;
  min-height: 600pt;
  max-height: 100%;
  margin: 0 auto 2rem;
  aspect-ratio: 1;
  background: var(--background);
  box-shadow: 4pt 4pt black;
  font-family: Inter, sans-serif;
  font-size: 11pt;
  outline: 1pt solid black;
}

.container h1 {
  /* padding-top: 10pt; */
  margin-bottom: 10pt;
  font-size: 24.88pt;
  text-align: center;
}

.options {
  display: grid;
  width: max-content;
  max-width: 95%;
  border: none;
  margin: 0 auto 20pt;
  column-gap: 10pt;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  grid-template: 1fr / auto;
}

.options > * {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-wrap: anywhere;
}

.terms {
  display: grid;
  width: 75%;
  margin: auto;
  grid-template: 1fr / repeat(2, 1fr) auto;
}

.terms > * {
  display: inline-grid;
  height: min-content;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  grid-template: 1fr / 1fr;
}

.terms > * > * {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 5pt 0;
}

.shape {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.25em;
  -moz-appareance: none;
  -webkit-appearance: none;
  appearance: none;
  aspect-ratio: 1;
}

.shape:focus {
  border: 1.5pt solid blue;
}

.shape:hover {
  cursor: pointer;
}

.checkbox {
  border: 1.5pt solid black;
  background: white;
}

.circ {
  border: 1.5pt solid transparent;
  border-radius: 50%;
}

.circ[aria-checked="true"] {
  border: 1.5pt solid white;
  box-shadow: 0 0 0 1.5pt black;
}
